<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="container-fluid p-0 position-relative d-flex align-items-center" style="height: 200px; overflow: hidden;">
    <img src="imgs/banner-titulo.png" class="position-absolute w-100 h-100" style="object-fit: cover; z-index: 1;" alt="Banner">
    
   <div class="container h-100 position-relative d-flex align-items-center justify-content-between" style="z-index: 2;">

      <div class="d-flex flex-column">
         <h1 class="text-white fw-bold m-0">Atores</h1>
         <nav aria-label="breadcrumb">
            <ol class="breadcrumb m-0">
               <li class="breadcrumb-item"><a href="/">Home</a></li>
               <li class="breadcrumb-item active" aria-current="page">Atores</li>
            </ol>
         </nav>
      </div>
   </div>
</div>

<section class="container mt-5">
<div class="container mt-5">
    <% atores.forEach(function(ator) { %> 
    <div class="card mb-4 border-0 shadow-sm overflow-hidden" style="border-radius: 15px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="<%= ator.imagem %>" class="img-fluid w-50" style="object-fit: cover; min-height: 250px;" alt="Dorama 1">
            </div>
            
            <div class="col-md-8">
                <div class="card-body ps-0 p-5">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title fw-bold"><%= ator.nome %></h4>
                    </div>
                    
                    <p class="card-text text-muted mt-2">
                       <%= ator.descricao%>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <% }); %>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</section>

<%- include ('partials/footer.ejs') %>